body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    background-color: #140f20;
    padding: 20px;
}

.perfume-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui o espaço entre as caixas */
    margin: 20px auto; /* Margem superior e inferior de 20px e centraliza horizontalmente */
    max-width: 1200px; /* Define a largura máxima para centralizar o conteúdo */
}

.perfume-item {
    background: rgba(250, 250, 250, 0.808);
    border: 5px solid #0c0c0c;
    margin-bottom: 30px; /* Espaçamento inferior entre as caixas */
    padding: 10px;
    width: calc((100% - 40px) / 4); /* Calcula a largura das caixas para três por linha com margens */
    box-sizing: border-box; /* Garante que a largura inclua padding e border */
    transition: transform 0.3s ease; /* Transição suave */
    border-radius: 10px;
}

.perfume-item img {
    width: 100%;
    height: 60%;
    transition: transform 0.6s;
}

.perfume-item:hover {
    transform: scale(1.05); 
    z-index: 1
}

.tamanhos {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.tamanhos button {
    background-color: #c8c8ce;
    border: 1px solid #080808;
    padding: 15px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.tamanhos button:hover {
    background-color: #5cb878;
}

.valor {
    color: rgb(3, 3, 3);
    font-size: 1.5em;
}

.numero {
    text-decoration: line-through;
}

.sidebar {
    width: 15%;
    padding: 20px;
    position: fixed;
    top: 25%;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

.ad-section {
    margin-bottom: 20px;
}

.ad-section img {
    width: 100%;
    margin-bottom: 10px;
}

.filters-section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.filters-section h3 {
    margin-top: 0;
    font-size: 18px;
}

.filters-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}